<nav class="navbar navbar-dark bg-dark pb-2">
  <ul class="navbar-nav mr-auto center-sm p-2">
    <li class="nav-item dropdown">
      <div class="m-auto form-group">
        <select
          class="form-control"
          id="exampleFormControlSelect1"
          [(ngModel)]="category"
          (change)="onSubmit()"
        >
          <option value="" selected="selected">Category</option>
          <option *ngFor="let option of options">
            {{ option }}
          </option>
        </select>
      </div>
    </li>
  </ul>
  <form class="form-inline p-2" (ngSubmit)="onSubmit()">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search for images"
      aria-label="Search"
      name="q"
      [(ngModel)]="q"
    />
    <button
      (click)="onSubmit()"
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
    >
      Search
    </button>
  </form>
</nav>
