.img-h {
    max-height: 50vh;
}
.img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-cursor {
    cursor: pointer;
}

button:focus {
    outline: none !important;
}