<img
  class="img-fluid img-cursor rounded mx-auto"
  src="{{ image ? image.previewURL : '' }}"
  alt=""
  (click)="open(mymodal)"
/>
<ng-template #mymodal let-modal class="modal-lg">
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="img-cont">
      <img
        class="img-fluid img-h"
        src="{{ image ? image.largeImageURL : '' }}"
        alt=""
      />
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Ok
    </button> -->
    <div class="row w-100">
      <div class="col">
        <p class="mb-0">
          Tags: <span class="text-primary">{{ image ? image.tags : "" }}</span>
        </p>
      </div>
      <div class="col">
        <small class="pr-2"
          >Total views:
          <span class="text-info">{{ image ? image.views : 0 }}</span></small
        >
        <small
          >Total likes:
          <span class="text-info">{{ image ? image.likes : 0 }}</span></small
        >
      </div>
    </div>
  </div>
</ng-template>
