.img-h {
    max-height: 50vh;
}
.img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-cursor {
    cursor: pointer;
    height: 24vh;
    width: auto;
    object-fit: contain;
}

button:focus {
    outline: none !important;
}